/*     DEFAULT STYLE  - DON'T EDIT THIS    */

#myVideo {
  position: relative;
  overflow: hidden;
  width: 70%;
  height: 0;
  padding-bottom: 39.25%;
  margin: 5%;
  background: url('http://edge-assets.wirewax.com/creativeData/devChallenge/london.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
}

#myTag {
  width: 29.23%;
  height: 35.87%;
  top: 5.565%;
  left: 45.565%;
  position: absolute;
}

#myOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
}

/*     END DEFAULT STYLE     */
img { display: block; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* Tag */
#tagHolder {
  position: relative;
  color: #FFFFFF;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}

#SVGHolder {
  position: relative;
  width: 24%;
  height: auto;
  margin: 1vw auto;
}

#mainSVG {
  width: 100%;
  height: 100%;
  fill: #FFFFFF;
  overflow: visible;
}

#tagTextHolder {
  position: relative;
  width: 100%;
  height: auto;
  font-family: 'Crimson Text';
  line-height: 1;
}

/* Overlay */
#overlayHolder {
  position: absolute;
  width: 1464px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  overflow: hidden;
}

#overlayTopperHolder {
  position: relative;
  width: 1464px;
  height: 367px;
  overflow: hidden;
}

#overlayTopper {
  width: 1464px;
  height: 367px;
}

#skyline {
  position: absolute;
  width: 1464px;
  height: 367px;
  background: url("../img/skyline.png") no-repeat;
}

#londonEye {
  position: absolute;
  width: 267px;
  height: 267px;
  background: url("../img/londonEye.png") no-repeat;
}

#overlayBody {
  position: relative;
  width: 1464px;
  height: 980px;
  border: solid;
  border-width: 10px;
  border-color: #000000;
  border-radius: 0px 0px 25px 25px;
  background-color: #FFFFFF;
}

#sliderImagesHolder {
  position: relative;
  width: 100%;
  height: 620px;
  overflow: hidden;
}

.sliderImage {
  position: absolute;
  height: 620px;
  display: inline-block;
}

.arrowHolder {
  position: absolute;
  top: 0px;
  width: 200px;
  height: 620px;
  cursor: pointer;
}

#lArrow {
  left: 0px;
  background: linear-gradient(to right, rgba(255,255,255,1) 10%, rgba(255,255,255,0));
}

.arrowImage{
  position: absolute;
  width: 41px;
  height: 78px;
  top: 280px;
  pointer-events: none;
}

#lArrowImage {
  left: 40px;
  background: url("../img/LArrow.png") no-repeat;
}

#rArrow {
  right: 0px;
  background: linear-gradient(to left, rgba(255,255,255,1) 10%, rgba(255,255,255,0));
}

#rArrowImage {
  right: 40px;
  background: url("../img/RArrow.png") no-repeat;
}

#closeBtn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50px;
  right: 50px;
  background: url("../img/closeBtn.png") no-repeat;
  cursor: pointer;
}

#overlayTextHolder {
  position: absolute;
  bottom: 60px;
  font-family: 'Crimson Text';
  width: 100%;
  height: auto;
  text-align: center;
}